<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/sampdb</property>
        <property name="connection.username">mysql</property>
        <property name="connection.password">mysql</property>

        <!-- Hibernate 内置的连接池，不推荐使用 -->
        <!--<property name="connection.pool_size">5</property>-->

        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.max_statements">60</property>
        <property name="c3p0.timeout">2000</property>

        <mapping package="org.trump.vincent.hibernate.domain"/>
    </session-factory>
</hibernate-configuration>